<!-- public/404.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/404.css">
    <title>P치gina no encontrada</title>
</head>
<body>
    <div class="container">
        <h1>404 - P치gina no encontrada</h1>
        <p>Lo sentimos, la p치gina que est치s buscando no existe.</p>
    </div>
</body>
</html>
  