<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>FunaVid </title>

  <!-- Bootstrap -->
  <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- bootstrap-progressbar -->
  <link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- bootstrap-daterangepicker -->
  <link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="../build/css/custom.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/servicios.css">

  <!-- links para exportar a excel -->
  <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
  <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
  <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>


</head>

<body class="nav-md">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>FunaVid</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>darwin</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Dashboard <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="index.html">Dashboard</a></li>
                    <li><a href="index2.html">Dashboard2</a></li>
                    <li><a href="index3.html">Dashboard3</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-edit"></i> Usuarios <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="form.html">General Form</a></li>
                    <li><a href="form_advanced.html">Advanced Components</a></li>
                    <li><a href="form_validation.html">Form Validation</a></li>
                    <li><a href="form_wizards.html">Form Wizard</a></li>
                    <li><a href="form_upload.html">Form Upload</a></li>
                    <li><a href="form_buttons.html">Form Buttons</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-desktop"></i> Servicios <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="categoriaServicios">Categoria de servicios</a></li>
                    <li><a href="gestionServicios">Gestion de servicios</a></li>
                    <li><a href="typography.html">Profecionales voluntarios</a></li>
                    <li><a href="icons.html">Citas</a></li>
                    <li><a href="glyphicons.html">Eventos virtuales</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-table"></i> Donaciones <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="tables.html">Tables</a></li>
                    <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-bar-chart-o"></i> Ventas <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="chartjs.html">Chart JS</a></li>
                    <li><a href="chartjs2.html">Chart JS2</a></li>
                    <li><a href="morisjs.html">Moris JS</a></li>
                    <li><a href="echarts.html">ECharts</a></li>
                    <li><a href="other_charts.html">Other Charts</a></li>
                  </ul>
                </li>
                <li><a><i class="fa fa-clone"></i>Beneficiarios <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                    <li><a href="fixed_sidebar.html">Fixed Sidebar</a></li>
                    <li><a href="fixed_footer.html">Fixed Footer</a></li>
                  </ul>
                </li>
              </ul>
            </div>


          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
          </div>
          <nav class="nav navbar-nav">
            <ul class=" navbar-right">
              <li class="nav-item dropdown open" style="padding-left: 15px;">
                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown"
                  data-toggle="dropdown" aria-expanded="false">
                  <img src="images/img.jpg" alt="">John Doe
                </a>
                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="javascript:;"> Profile</a>
                  <a class="dropdown-item" href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                  </a>
                  <a class="dropdown-item" href="javascript:;">Help</a>
                  <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                </div>
              </li>

              <li role="presentation" class="nav-item dropdown open">
                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="dropdown-item">
                      <span class="image"><img src="images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <div class="text-center">
                      <a class="dropdown-item">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            
              <div class="titulo_p">
                <h1>Gestion de servicios</h1>
              </div>
              <section class="search_icon">
                <div class="titulo_s">
                  <img src="../img/boton-mas.png" alt="icon" class="icon_add" id="btn-abrir-modal">
                  <h4>Agregar participante</h4>
                </div>
                <form class="form-inline my-2 my-lg-0">
                  <div>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </div>
                  <div class="btn-search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit"><img
                        src="../img/bx-search-alt.svg" alt=""></button>
                  </div>
              </section>


              <main>
                <div class="tabla">
                  <table id="tblData" class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Servicio</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Fecha de registro</th>
                        <th scope="col">Disponibilidad</th>
                        <th scope="col" class="th_center">Opciones</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Freddy</td>
                        <td>Hilari</td>
                        <td>75657007</td>
                        <td>25</td>
                        <td class="Opciones">
                          <div>
                            <button type="button" class="btn btn-secondary">Profesionales</button>
                          </div>
                          <div>
                            <img src="../img/archivo.png" alt="icon" class="opc_eyes" id="btn-abrir-modal-info">
                          </div>
                          <div>
                            <img src="../img/editar.png" alt="icon" class="opc_edit" id="btn-abrir-modal-edit">
                          </div>
                          <div>
                            <img src="../img/borrar.png" alt="icon" class="opc_delete" onclick="mostrarAlerta()">
                          </div>
                        </td>

                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Freddy</td>
                        <td>Hilari</td>
                        <td>75657007</td>
                        <td>25</td>
                        <td class="Opciones">
                          <div>
                            <button type="button" class="btn btn-secondary">Profesionales</button>
                          </div>
                          <div>
                            <img src="../img/archivo.png" alt="icon" class="opc_eyes" id="btn-abrir-modal-info">
                          </div>
                          <div>
                            <img src="../img/editar.png" alt="icon" class="opc_edit" id="btn-abrir-modal-edit">
                          </div>
                          <div>
                            <img src="../img/borrar.png" alt="icon" class="opc_delete" onclick="mostrarAlerta()">
                          </div>
                        </td>

                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Freddy</td>
                        <td>Hilari</td>
                        <td>75657007</td>
                        <td>25</td>
                        <td class="Opciones">
                          <div>
                            <button type="button" class="btn btn-secondary">Profesionales</button>
                          </div>
                          <div>
                            <img src="../img/archivo.png" alt="icon" class="opc_eyes" id="btn-abrir-modal-info">
                          </div>
                          <div>
                            <img src="../img/editar.png" alt="icon" class="opc_edit" id="btn-abrir-modal-edit">
                          </div>
                          <div>
                            <img src="../img/borrar.png" alt="icon" class="opc_delete" onclick="mostrarAlerta()">
                          </div>
                        </td>
                    </tbody>
                  </table>
                </div>
                <div class="dow_excel">
                  <button onclick="exportTableToExcel('tblData')" class="btn btn-success">Exportar datos a Excel <img
                      src="../img/bxs-download.svg" alt=""></button>
                </div>
              </main>
          </div>
        </div>

        <!--modal de agg-->
        <dialog id="modal">
          <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
            <!-- Campo para el nombre -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required minlength="4" maxlength="100">

            <!-- Campo para seleccionar una categoría -->
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" required>
              <option value="">Selecciona una categoría</option>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>

            <!-- Campo para cargar un archivo -->
            <label for="archivo">Cargar archivo:</label>
            <input type="file" id="archivo" name="archivo" accept=".pdf, .doc, .docx">

            <!-- Campo para escribir información -->
            <label for="informacion">Información del servicio:</label>
            <textarea id="informacion" name="informacion" rows="4" cols="50"></textarea>

            <label for="informacion">Requisitos para aplicar:</label>
            <textarea id="informacion" name="informacion" rows="4" cols="50"></textarea>

            <!-- Campo para cambiar el estado -->
            <section>
              <div>
                <br>
                <label for="">Disponibilidad:</label>
                <div class="boton"></div>
                <div class="btn-boton-estado">
                  <input type="checkbox" name="" id="btn-switch">
                  <label for="btn-switch" class="lbl-switch"></label>
                </div>
              </div>
            </section>

            <!-- Sección de botones -->
            <section class="form_g_c">
              <div>
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="guardadoExitoso()">
              </div>
              <div>
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal">
              </div>
            </section>
          </form>
        </dialog>

        <!--vizualizar servicio-->
        <dialog id="modal-info">
          <main class="info-sobre-servicio">
            <h1 class="titulo-p">Apoyo educativo</h1>
            <div class="info-servicio">
              <p class="text">Garantizar que los niños continúen su educación durante el tratamiento a través de tutores
                o programas educativos en el hospital. Esto les permite mantenerse al día con sus estudios y mantener
                una sensación de normalidad.</p>
              <section class="btns-guardar-edit">


              </section>
            </div>
            <div>
              <h1 class="titulo-p">Requisitos para aplicar</h1>
              <div class="info-servicio">
                <p class="text">Confirmación Médica: Debes tener un diagnóstico médico confirmado de cáncer emitido por
                  un profesional de la salud.



                  Edad Adecuada: Debes tener entre ciertas edades específicas, normalmente hasta los 18 años.



                  Documentación Médica: Debes proporcionar informes médicos que verifiquen tu diagnóstico y tratamiento
                  actual.



                  Evaluación Económica: Si tu familia tiene dificultades económicas, es posible que necesites presentar
                  pruebas de ingresos y gastos.



                  Residencia Válida: Debes vivir en la región o área geográfica determinada por la fundación.



                  Recomendación Médica: En algunos casos, podría ser necesario obtener una recomendación médica que
                  respalde tu necesidad de los servicios.



                  Compromiso con el Tratamiento: Debes comprometerte a seguir el tratamiento médico recomendado.



                  Consentimiento Informado: Debes dar tu consentimiento para participar en los programas y permitir el
                  intercambio de información médica necesaria.



                  Participación Activa: Debes estar dispuesto a involucrarte en las actividades y programas de la
                  fundación.



                  Asistencia a Evaluaciones: Aceptar asistir a evaluaciones regulares para evaluar tu elegibilidad
                  continua y necesidades de servicios.



                </p>

              </div>
            </div>
            <section class="btn-volver">
              <a href="" id="btn-cerrar-modal"><button type="button" class="btn btn-secondary">Volver</button></a>
            </section>
          </main>
        </dialog>

        <!--modal de editar-->
        <dialog id="modal-edit">
          <form action="" method="post" enctype="multipart/form-data" onsubmit="return validarFormulario()">
            <!-- Campo para el nombre -->
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required minlength="4" maxlength="100">

            <!-- Campo para seleccionar una categoría -->
            <label for="categoria">Categoría:</label>
            <select id="categoria" name="categoria" required>
              <option value="">Selecciona una categoría</option>
              <option value="opcion1">Opción 1</option>
              <option value="opcion2">Opción 2</option>
              <option value="opcion3">Opción 3</option>
            </select>

            <!-- Campo para cargar un archivo -->
            <label for="archivo">Cargar archivo:</label>
            <input type="file" id="archivo" name="archivo" accept=".pdf, .doc, .docx">

            <!-- Campo para escribir información -->
            <label for="informacion">Información del servicio:</label>
            <textarea id="informacion" name="informacion" rows="4" cols="50"></textarea>

            <label for="informacion">Requisitos para aplicar al servicio:</label>
            <textarea id="informacion" name="informacion" rows="4" cols="50"></textarea>

            <!-- Campo para cambiar el estado -->
            <section>
              <div>
                <br>
                <label for="">Disponibilidad:</label>
                <div class="boton"></div>
                <div class="btn-boton-estado">
                  <input type="checkbox" name="" id="btn-switch">
                  <label for="btn-switch" class="lbl-switch"></label>
                </div>
              </div>
            </section>

            <!-- Sección de botones -->
            <section class="form_g_c">
              <div>
                <input type="submit" value="Guardar" class="btn btn-primary" onclick="guardadoExitoso()">
              </div>
              <div>
                <input type="button" value="Cancelar" class="btn btn-danger" id="btn-cerrar-modal-edit">
              </div>
            </section>
          </form>
        </dialog>



      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>
  <!--modal de informacion del servicio-->
  <script src="../js/info-modal.js"></script>
  <!--modal de editar-->
  <script src="../js/editar-modal.js"></script>
  <!--exportar datos a excel-->
  <script src="../js/export-excel.js"></script>
  <!--mensaje de guardado-->
  <script src="../js/alerts/guardado_s.js"></script>
  <!--alerta-->
  <script src="../js/alerts/delete.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <!--js-->
  <script src="../js/registro_servicio.js"></script>
  <!--Boxicon-->
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

  <!-- jQuery -->
  <script src="../vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!-- FastClick -->
  <script src="../vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="../vendors/nprogress/nprogress.js"></script>
  <!-- Chart.js -->
  <script src="../vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- jQuery Sparklines -->
  <script src="../vendors/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
  <!-- morris.js -->
  <script src="../vendors/raphael/raphael.min.js"></script>
  <script src="../vendors/morris.js/morris.min.js"></script>
  <!-- gauge.js -->
  <script src="../vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="../vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- Skycons -->
  <script src="../vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="../vendors/Flot/jquery.flot.js"></script>
  <script src="../vendors/Flot/jquery.flot.pie.js"></script>
  <script src="../vendors/Flot/jquery.flot.time.js"></script>
  <script src="../vendors/Flot/jquery.flot.stack.js"></script>
  <script src="../vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="../vendors/DateJS/build/date.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="../vendors/moment/min/moment.min.js"></script>
  <script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="../build/js/custom.min.js"></script>

</body>

</html>